@using MVCT.Models.Attandance;
@model IEnumerable<AttandanceDTO>
@{
    ViewData["Title"] = "Index";
    int i = 0;
    int l = 0;
}




<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Checkins</h2>
            </div>
        </div>

    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6 "> </h2></div>

        </div>
        <table id="tblData" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>UserName</th>
                    <th>Date</th>
                    <th>Check-In</th>
                    <th>Check-Out</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var attandance in Model)
                {
                    i++;
                    var @todayAttandances = attandance.Attandances;
                    <tr>
                        <td>@(++i)</td>
                        <td>@attandance.Username</td>
                        <td>@attandance.DateTime.ToString("dd-MM-yyyy")</td>
                        <td>@attandance.CheckIn</td>
                        <td>@attandance.CheckOut</td>

                        <td><button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#details@(i)">Details</button></td>


                    </tr>
                    @*  <tr id="details@{i.ToString();}" class="collapse">*@
                    <tr id="details@(i)" class="collapse">
                        <td colspan="5">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>DateTime</th>

                                        
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in @todayAttandances)
                                    {
                                        <tr>
                                            <td>@(++l)</td>
                                            <td>@item.DateTime.ToString("dd-MM-yyyy HH:mm:ss ")</td>
                                            <td> <a asp-controller="Attandances" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a></td>
                                            <td>
                                                <a asp-controller="Attandances" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                    }

                                    <!-- Add more rows for details as needed -->
                                </tbody>

                            </table>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="/js/product.js"></script>

