@using MVCT.Models.Attandance;
@model IEnumerable<AttandanceInfo>

@{
    ViewData["Title"] = "Index";
    int i = 0;
}





<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Checkins</h2>
            </div>
        </div>

    </div>
    <div class="card-body p-4">
         <div class = "row pb-3">
        <div class="col-6 "> </h2></div>
       
    </div>
        <table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Date</th>
            <th>UserName</th>
            <th>Check-In</th>
            <th>Check-Out</th>
         
        </tr>
    </thead>
    <tbody>
      @foreach (var obj in Model)
      {
        <tr>
            <td>@(++i)</td>
            <td>
                @obj.CurrentDate.ToString("dd-MM-yyyyy")
            </td>
            <td>
                @obj.Username
            </td>
            <td>
                            @if (@obj.CheckIn != null)
                            {
                                @obj.CheckIn.Value.ToString("HH:mm:ss")
                            }
            </td>
            <td>
                            @if (@obj.CheckOut != null)
                            {
                                @obj.CheckOut.Value.ToString("HH:mm:ss")
                            }
            </td>
            <td>
               
            </td>
        </tr>
        
      }
    </tbody>
</table>
    </div>
    </div>

@section Scripts{
    <script src="~/js/product.js"></script>
}

