@using MVCT.Models.UserReport;
@model UserReportsViewModel
@inject UserManager<AppUser> userManager;

@{
    ViewData["Title"] = "Index";
    int i = 0;
}
@*
<div>
    <a asp-action="CreateReport" asp-controller="Reports">Tạo báo cáo</a>
</div>

*@

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Báo Cáo</h2>
            </div>
        </div>

    </div>
    <div class="card-body p-4">
         <div class = "row pb-3">
        <div class="col-6 "> </h2></div>
       
    </div>
        <input hidden asp-for="UserReport.Id" />
        <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tài khoản</th>
            <th>Nội dung</th>
            <th>Ngày giờ</th>
         <th></th>
         
        </tr>
    </thead>
    <tbody>
      @foreach (var obj in Model.UserReports)
      {
        <tr>
            <td>@(++i)</td>
            <td>
                            @*@obj.UserId.ToString(userManager.FindByNameAsync(User);*@
                            @obj.Username
            </td>
            <td>
                @obj.Description
            </td>
            <td>
                @obj.SendnDate
            </td>
       <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Reports" asp-action="Details" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Xem
                                </a>

                                <a id="EmpId" class="btn btn-danger" onclick="Confirm(@obj.Id)">Delete</a>
                            </div>
        </td>

        </tr>
        
      }
    </tbody>
</table>
    </div>
    </div>


<!--Delete-->
<div class="modal fade" id="DeleteModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">

            <form id="saveForm" method="post">

                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>

           

                </div>
                <div class="modal-body">

                    <h2>Are you sure Delete ?</h2>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                        Closer
                       @* <span aria-hidden="true">&times;</span>*@
                    </button>
                    <button id="btnDelete" type="button" class="btn btn-danger">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="/js/product.js">

    </script>
}